<a href="https://colab.research.google.com/github/NagTeja/Coding/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

NameError: name 'mylist' is not defined

In [4]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [7]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
  #check for even
  if num % 2 == 0:
    print(num)

2
4
6
8
10

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for num in mylist:
  #check for even
  if num % 2 == 0:
    print(num)
  else :
    print(f'odd number:{num}')

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8
odd number:9
10

In [13]:
mylist = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in mylist:
  list_sum = list_sum + num
  print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [15]:
mystring = 'hello world'
for letter in mystring:
  print(letter)

h
e
l
l
o

w
o
r
l
d

In [18]:

for letter in 'hello world':
  print("coold")

coold
coold
coold
coold
coold
coold
coold
coold
coold
coold
coold

In [19]:
tup = (1,2,3)
for num in tup:
  print(num)

1
2
3

In [20]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [22]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)
for item in mylist:
  print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [23]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)
for (a,b) in mylist:
  print(a)
  print(b)

1
2
3
4
5
6
7
8

In [24]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)
for a,b in mylist:
  print(a)

1
3
5
7

In [25]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for item in mylist:
  print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [26]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for a,b,c in mylist:
  print(c)

3
7
10

In [30]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
  print(item)

k1
k2
k3

In [32]:
d = {'k1':1,'k2':2,'k3':3}
for item in d.items():
  print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [34]:
d = {'k1':1,'k2':2,'k3':3}
for key,item in d.items():
  print(key)

k1
k2
k3